:root {
  --primaryColor:#fdffb6;
  --secondaryColor:#8F5C38;
  --tertiaryColor:#688B58;
  --buttonColor:#E2D686;
  --textColor1:var(--primaryColor);
  --textColor2:var(--backgroundColor1);
  --lightColor:white;
  --backgroundColor1:#404040;
  --backgroundColor2:var(--primaryColor);
  --darkBrightness:1;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  margin: 0;
}

p + p {
  padding-top: 1.5rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

p:first-of-type {
  padding-top: 1.5rem;
}

h1, h2, h3 {
  margin: 0;
}

.section__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 4rem);
}
@media screen and (min-width: 63rem) {
  .section__inner {
    max-width: 70rem;
  }
}

.section__1 {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}

.section__2 {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}

.grid__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - 4rem);
}
@media screen and (min-width: 63rem) {
  .grid__cards {
    max-width: 70rem;
  }
}
@media screen and (min-width: 63rem) {
  .grid__cards {
    max-width: 70rem;
  }
}
.grid__item {
  position: relative;
  transition: all 0.5s ease-out;
  width: calc(100vw - 4rem);
  height: 300px;
}
@media screen and (min-width: 42rem) {
  .grid__item {
    width: calc(50vw - 4rem - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .grid__item {
    width: calc(33.3333333333vw - 4rem - 3rem);
  }
}
.grid__item:hover {
  transform: rotate(5deg);
  transition: transform 0.5s ease-out;
}
.grid__item--cover {
  width: calc(100vw - 4rem);
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media screen and (min-width: 42rem) {
  .grid__item--cover {
    width: calc(50vw - 4rem - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .grid__item--cover {
    width: calc(33.3333333333vw - 4rem - 3rem);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--backgroundColor1);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s;
}
.loading--hidden {
  opacity: 0;
  visibility: hidden;
}
.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: var(--tertiaryColor);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.header {
  background-image: url(/images/banner1.PNG);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header__motto {
  position: absolute;
  bottom: 30px;
  right: 20vw;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: var(--primaryColor);
  max-width: 300px;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
  padding-left: 1rem;
}

.header__brand {
  position: absolute;
  top: 20vh;
  left: 50px;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: var(--primaryColor);
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
}
@media screen and (min-width: 42rem) {
  .header__brand {
    left: 25vw;
  }
}

@keyframes example {
  0% {
    transform: scale(0);
  }
  91.3% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  min-height: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.menu__background {
  width: 100vw;
}
.menu__logo {
  font-size: 2rem;
}
.menu__logo img {
  width: 100px;
  border-radius: 15px;
  padding-top: 10px;
}
.menu__icon {
  cursor: pointer;
  max-height: 50px;
  max-width: 50px;
}
.menu__icon:last-of-type {
  margin-right: 100px;
}
.menu__icon img {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  background-color: var(--backgroundColor2);
  padding: 0;
  position: fixed;
  gap: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  color: var(--textColor);
  opacity: 0;
}
.menu__list.menu__active {
  opacity: 1;
  z-index: 3;
  transition: opacity 1s ease;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: var(--textColor2);
  padding: 1rem;
  font-weight: 600;
  padding: 1.5rem 1.5rem;
  width: 100%;
}
.menu__link:hover {
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}
.menu__item {
  text-align: center;
  color: var(--textColor);
  width: 100%;
}
.menu__item--active .menu__link {
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}
.menu__hamburger.menu__active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.menu__active .menu__bar:nth-child(1) {
  transform: translateY(11px) rotate(675deg);
}
.menu__hamburger.menu__active .menu__bar:nth-child(3) {
  transform: translateY(-11px) rotate(-675deg);
}
.menu__hamburger {
  display: block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 2;
  right: 20px;
  padding-top: 0px;
}
.menu__bar {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 30%;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background: rgb(253, 255, 182);
  background: radial-gradient(circle, rgb(253, 255, 182) 0%, rgb(64, 64, 64) 100%);
}
@media screen and (min-width: 63rem) {
  .menu {
    max-width: 70rem;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    height: -moz-max-content;
    height: max-content;
    min-height: 100px;
    max-height: 200px;
    padding-right: 350px;
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    display: block;
    z-index: 100;
    border-bottom: 0;
  }
  .menu__item:last-child {
    border: 0;
  }
  .menu__link {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .menu__icon {
    z-index: 3;
  }
  .menu__icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
  }
}

.lektorky__lektorka {
  position: relative;
  width: 300px;
  height: 250px;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}
.lektorky__lektorka:hover {
  transform: rotate(5deg);
  transition: transform 0.5s ease-out;
}
.lektorky__item {
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lektorky__item--1 {
  background-image: url(/images/lektorky/sykorova.PNG);
}
.lektorky__item--2 {
  background-image: url(/images/lektorky/sykorova.PNG);
}
.lektorky__item--active {
  filter: blur(4px);
}
.lektorky__name {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.lektorky__name--active {
  display: none;
}
.lektorky__plus {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 3px var(--primaryColor);
}
.lektorky__plus--active {
  display: none;
}
.lektorky__plus--bar-H, .lektorky__plus .lektorky__plus--bar-V {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: white;
}
.lektorky__plus--bar-H {
  margin-top: 13px;
  margin-left: 5px;
}
.lektorky__plus--bar-V {
  transform: rotate(90deg);
  margin-top: 13px;
  margin-left: 5px;
}
.lektorky__description {
  position: absolute;
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 5;
  border: 3px solid #f1f1f1;
  font-weight: 600;
}
.lektorky__description--active {
  display: block;
}

.lekce__background--1 {
  background: #333 url(/images/lekce/baby_sportik.PNG) center;
}

.footer__copyright {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}
.heading-frame {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;
  background-size: cover;
  color: var(--primaryColor);
  padding: 2rem;
  z-index: 2;
  width: calc(100vw - 4rem);
  height: 300px;
}
@media screen and (min-width: 42rem) {
  .heading-frame {
    width: calc(50vw - 4rem - 1.5rem);
  }
}
@media screen and (min-width: 63rem) {
  .heading-frame {
    width: calc(33.3333333333vw - 4rem - 3rem);
  }
}

.heading-frame__topRight {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  max-width: 100%;
  text-align: right;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
  grid-auto-flow: column;
  text-transform: uppercase;
}
@media screen and (min-width: 42rem) {
  .heading-frame__topRight {
    max-width: 50%;
  }
}
.heading-frame__topRight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-right: none;
  border-bottom: none;
  margin-top: 0.2rem;
}

.heading-frame:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  grid-column: 1;
  grid-row: 2/3;
  border-bottom: 0;
  border-top: 0;
}

.heading-frame__bottomLeft {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  max-width: 100%;
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
  text-transform: uppercase;
}
.heading-frame__bottomLeft:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-left: none;
  border-top: none;
}

.heading-frame:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.ramecek {
  --c: var(--primaryColor);
  --s0: calc(1.25em + 6px);
  --s1: calc(1.25em + 6px + 0.5em);
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 3em;
  border: solid 0 transparent;
  border-width: 0 5px 2px 0;
  padding: 10px 0.5em 0.5em 20px;
  background: var(--c) padding-box;
  color: black;
}
.ramecek::before {
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border: solid 0 transparent;
  border-width: 5px 2px 0 5px;
  width: 100%;
  height: 3em;
  box-shadow: inset 0 0 0 1px var(--c);
  mix-blend-mode: difference;
  pointer-events: none;
  box-sizing: content-box;
  content: "";
}

.mujramecek {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.test {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--primaryColor);
  border-radius: 95% 5% 5% 6%;
  border: none;
  padding: 30px 30px 20px 17px;
  position: relative;
}

.test2 {
  position: absolute;
  left: 22px;
  padding-left: 10px;
  top: 15px;
  width: -moz-max-content;
  width: max-content;
  mix-blend-mode: difference;
}

.count {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.animationLeft {
  animation: headlineAnimation 2s ease-in-out forwards;
}

.animationRight {
  animation: headlineAnimationRight 2s ease-in-out forwards;
}

@keyframes headlineAnimation {
  to {
    margin-left: 0;
  }
}
@keyframes headlineAnimationRight {
  to {
    margin-left: 0;
  }
}
.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background: var(--primaryColor);
  color: var(tertiaryColor);
  overflow: auto;
  z-index: 3;
}
.dialog__window {
  width: 100%;
  max-width: 0 auto;
  display: block;
}
.dialog__button {
  cursor: pointer;
}
.dialog__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: var(--primaryColor);
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  border: 0.5px solid grey;
}
.dialog.active {
  display: block;
  animation: popupAnimation 1500ms ease-in-out forwards;
}
.dialog.active .dialog__window {
  transition: all 100ms ease-in-out 1300ms;
}
@keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 2px;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.dialog__content h1 {
  text-align: center;
  padding-top: 2rem;
}
.dialog__content h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dialog__content--1 {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
  width: 100%;
}
.dialog__content--2 {
  background-color: var(--backgroundColor2);
  color: var(--textColor2);
  width: 100%;
}
.dialog__item--grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.dialog__icon {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.dialog__img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */