:root {
  --primaryColor:#679436;
  --primaryColor-similar:#BAD29F;
  --secondaryColor:#FFDF64;
  --tertiaryColor:#254232;
  --buttonColor:#E2D686;
  --textColor:white;
  --lightColor:white;
  --greyColor: #E0E2DB;
  --greyDarkColor: #889696;
  --backgroundColor:black;
  --darkBrightness:1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primaryColor:#679436;
    --primaryColor-similar:#BAD29F;
    --secondaryColor:#e0c455;
    --tertiaryColor:#254232;
    --buttonColor:#E2D686;
    --textColor:rgb(91, 144, 125);
    --lightColor:white;
    --greyColor: #E0E2DB;
    --greyDarkColor: #889696;
    --backgroundColor:white;
    --darkBrightness:0.8;
  }
}
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

ul {
  margin: 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}
.loading--hidden {
  opacity: 0;
  visibility: hidden;
}
.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #D2F669;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.header {
  background-image: url(/images/banner1.PNG);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header__motto {
  position: absolute;
  bottom: 30px;
  right: 30px;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: white;
  max-width: 300px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
}

.header__brand {
  position: absolute;
  top: 0;
  left: 50px;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: white;
  font-size: 60px;
  margin-top: 100px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
}

@keyframes example {
  0% {
    transform: scale(0);
  }
  91.3% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  min-height: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.menu__background {
  width: 100vw;
}
.menu__logo {
  font-size: 2rem;
}
.menu__logo img {
  width: 100px;
  border-radius: 15px;
  padding-top: 10px;
}
.menu__icon {
  cursor: pointer;
  max-height: 50px;
  max-width: 50px;
}
.menu__icon:last-of-type {
  margin-right: 80px;
}
.menu__icon img {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: -1;
  font-size: 1.2rem;
  background-color: var(--primaryColor-similar);
  padding-right: 0;
  position: fixed;
  gap: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: 0.3s;
  color: var(--textColor);
  opacity: 0;
}
.menu__list.menu__active {
  opacity: 1;
  z-index: 3;
  transition: opacity 1s ease;
}
.menu__link {
  display: block;
  text-decoration: none;
  color: black !important;
  padding: 1rem;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
}
.menu__link:hover {
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}
.menu__item {
  text-align: center;
  color: var(--textColor);
}
.menu__item--active .menu__link {
  background-color: var(--buttonColor);
  color: var(--lightColor);
}
.menu__hamburger.menu__active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.menu__active .menu__bar:nth-child(1) {
  transform: translateY(11px) rotate(675deg);
}
.menu__hamburger.menu__active .menu__bar:nth-child(3) {
  transform: translateY(-11px) rotate(-675deg);
}
.menu__hamburger {
  display: block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 200;
  right: 10px;
  padding-top: 0px;
}
.menu__bar {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 30%;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background-color: #4158D0;
  background-image: linear-gradient(62deg, #4158D0 0%, #000000 59%, #ff7070 100%);
}
@media screen and (min-width: 63rem) {
  .menu {
    max-width: 70rem;
  }
  .menu__list {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    width: auto;
    left: auto;
    top: auto;
    position: relative;
    background-color: var(--primaryColor);
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    display: block;
    z-index: 100;
    border-bottom: 0;
  }
  .menu__item:last-child {
    border: 0;
  }
}

.heading-frame {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;
  background: #333 url(images/banner1.PNG) center;
  background-size: cover;
  color: white;
  width: calc(100vw - 60px);
  height: 300px;
  padding: 2rem;
}
.heading-frame--link {
  width: calc(100vw - 60px);
  height: 300px;
  cursor: pointer;
  text-decoration: none;
}

.heading-frame__topRight {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  max-width: 100%;
  text-align: right;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
}
.heading-frame__topRight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-right: none;
  border-bottom: none;
  margin-top: 0.2rem;
}

.heading-frame:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  grid-column: 1;
  grid-row: 2/3;
  border-bottom: 0;
  border-top: 0;
}

.heading-frame__bottomLeft {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  max-width: 100%;
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
}
.heading-frame__bottomLeft:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-left: none;
  border-top: none;
}

.heading-frame:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.ramecek {
  --c: #D2F669;
  --s0: calc(1.25em + 6px);
  --s1: calc(1.25em + 6px + 0.5em);
  place-self: center;
  position: relative;
  width: 20em;
  height: 5em;
  border: solid 0 transparent;
  border-width: 0 15px 15px 0;
  padding: 7px 0.5em 0.5em 70px;
  background: var(--c) padding-box;
  /* .ramecek:nth-child(2) {
    --c: #b4ff7d;
    filter: invert(1);
  } */
}
.ramecek::before {
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border-width: 10px 0 0 10px;
  width: 20em;
  height: 5em;
  box-shadow: inset 0 0 0 3px var(--c);
  mix-blend-mode: difference;
  pointer-events: none;
  content: "";
}

.mujramecek {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nadpis {
  margin: 1rem 0 0 0;
}

.odstavec {
  margin-top: 1rem;
}

.count {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.animationLeft {
  animation: headlineAnimation 2s ease-in-out forwards;
}

.animationRight {
  animation: headlineAnimationRight 2s ease-in-out forwards;
}

@keyframes headlineAnimation {
  to {
    margin-left: 0;
  }
}
@keyframes headlineAnimationRight {
  to {
    margin-left: 0;
  }
}
.lektorky {
  display: grid;
}
.lektorky__lektorka {
  position: relative;
  width: 300px;
  height: 250px;
}
.lektorky__item {
  background-image: url(/images/banner.PNG);
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lektorky__item--active {
  filter: blur(4px);
}
.lektorky__plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}
.lektorky__plus--bar-H, .lektorky__plus .lektorky__plus--bar-V {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: blue;
}
.lektorky__plus--bar-H {
  margin-top: 9px;
  margin-left: 2.5px;
}
.lektorky__plus--bar-V {
  transform: rotate(90deg);
  margin-top: 9px;
  margin-left: 2.5px;
}
.lektorky__description {
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 5;
  border: 3px solid #f1f1f1;
  font-weight: 600;
  filter: blur(0px);
}/*# sourceMappingURL=style.css.map */