:root {
  --primaryColor:#fdffb6;
  --secondaryColor:#8F5C38;
  --tertiaryColor:#688B58;
  --buttonColor:#E2D686;
  --textColor1:var(--primaryColor);
  --textColor2:var(--backgroundColor1);
  --lightColor:white;
  --backgroundColor1:#404040;
  --backgroundColor2:var(--primaryColor);
  --darkBrightness:1;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  margin: 0;
}

p + p {
  padding-top: 1.5rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

p:first-of-type {
  padding-top: 1.5rem;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.section__inner {
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 63rem) {
  .section__inner {
    max-width: 70rem;
  }
}

.section__1 {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}

.section__2 {
  background-color: var(--backgroundColor2);
  color: var(--textColor2);
}

.grid__cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 1.5rem 0 0 0;
}
@media screen and (min-width: 63rem) {
  .grid__cards {
    max-width: 70rem;
  }
}
@media screen and (min-width: 63rem) {
  .grid__cards {
    max-width: 70rem;
  }
}
@media screen and (min-width: 50rem) {
  .grid__cards--lekce {
    grid-template-columns: repeat(2, minmax(300px, 10fr));
  }
}
.grid__item {
  position: relative;
  transition: all 0.5s ease-out;
  width: calc(100vw - 2rem - 2rem);
  height: 300px;
}
@media screen and (min-width: 500px) {
  .grid__item {
    width: calc(500px - 3rem - 2rem);
  }
}
@media screen and (min-width: 50rem) {
  .grid__item {
    width: calc(50vw - 4rem - 1.5rem - 2rem);
  }
}
.grid__item:hover {
  transform: rotate(5deg);
  transition: transform 0.5s ease-out;
}
.grid__item--cover {
  width: calc(100vw - 2rem - 2rem);
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
@media screen and (min-width: 500px) {
  .grid__item--cover {
    width: calc(500px - 3rem - 2rem);
  }
}
@media screen and (min-width: 50rem) {
  .grid__item--cover {
    width: calc(50vw - 4rem - 1.5rem - 2rem);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--backgroundColor1);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s;
}
.loading--hidden {
  opacity: 0;
  visibility: hidden;
}
.loading--dispNone {
  display: none;
}
.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: var(--tertiaryColor);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.header {
  background-image: url(/images/banner1.PNG);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header__motto {
  position: absolute;
  bottom: 30px;
  right: 1rem;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: var(--primaryColor);
  max-width: 300px;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
  padding-left: 1rem;
}
@media screen and (min-width: 63rem) {
  .header__motto {
    right: calc((100vw - 70rem) / 2);
  }
}

.header__brand {
  position: absolute;
  top: 20vh;
  left: 1rem;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  color: var(--primaryColor);
  font-size: 60px;
  font-family: "Dancing Script", cursive;
  z-index: 2;
}
@media screen and (min-width: 42rem) {
  .header__brand {
    left: 16.6666666667vw;
    font-size: 100px;
  }
}

@keyframes example {
  0% {
    transform: scale(0);
  }
  91.3% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.menu {
  min-height: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.menu__background {
  width: 100vw;
}
.menu__logo {
  font-size: 2rem;
}
.menu__logo img {
  width: 100px;
  border-radius: 15px;
  padding-top: 10px;
}
.menu__icon {
  cursor: pointer;
  max-height: 50px;
  max-width: 50px;
}
.menu__icon:last-of-type {
  margin-right: 100px;
}
.menu__icon img {
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.menu__list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  background-color: var(--backgroundColor2);
  padding: 0;
  position: fixed;
  gap: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: opacity 1s ease-in;
  color: var(--textColor);
  opacity: 0;
}
.menu__list.menu__active {
  display: flex;
  opacity: 1;
  z-index: 3;
  transition: opacity 1s ease;
}
.menu__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--textColor2);
  padding: 1rem;
  font-weight: 600;
  padding: 1.5rem 1.5rem;
  width: 100%;
}
.menu__link:hover {
  background-color: var(--secondaryColor);
  color: var(--lightColor);
}
.menu__item {
  text-align: center;
  color: var(--textColor);
  width: 100%;
}
.menu__link--active {
  color: var(--lightColor);
  font-size: 2em;
}
.menu__item--active {
  background-color: var(--secondaryColor);
}
.menu__hamburger.menu__active .menu__bar:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.menu__active .menu__bar:nth-child(1) {
  transform: translateY(11px) rotate(675deg);
  z-index: 4;
}
.menu__hamburger.menu__active .menu__bar:nth-child(3) {
  transform: translateY(-11px) rotate(-675deg);
  z-index: 4;
}
.menu__hamburger {
  display: block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 4;
  right: 20px;
  padding-top: 0px;
}
.menu__bar {
  display: block;
  width: 40px;
  height: 3px;
  border-radius: 30%;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background: rgb(253, 255, 182);
  background: radial-gradient(circle, rgb(253, 255, 182) 0%, rgb(64, 64, 64) 100%);
  z-index: 4;
}
@media screen and (min-width: 73.5rem) {
  .menu__list {
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 250px);
    justify-content: flex-start;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    height: -moz-max-content;
    height: max-content;
    min-height: 100px;
    max-height: 200px;
    right: 250px;
  }
  .menu__list--full {
    max-width: 100%;
    right: 0;
  }
  .menu__hamburger {
    display: none;
  }
  .menu__item {
    display: block;
    z-index: 100;
    border-bottom: 0;
    width: 100%;
    height: 100%;
  }
  .menu__item:last-child {
    border: 0;
  }
  .menu__link {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .menu__link--active {
    color: black;
  }
  .menu__item--active {
    background-color: var(--primaryColor);
  }
  .menu__icon {
    z-index: 3;
  }
  .menu__icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
  }
  .menu__icon:last-of-type {
    margin-right: 30px;
  }
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.full .content {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}

.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
}

.gallery {
  padding-top: 1.5rem;
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
}

.gallery img {
  max-width: 100%;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}

.gallery img:hover {
  box-shadow: 0 0 32px #333;
}

.gallery .content {
  padding: 4px;
}

.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery .gallery-item:hover {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
.lektorky__lektorka {
  position: relative;
  width: 300px;
  height: 250px;
  cursor: pointer;
  transform: rotate(0);
  transition: transform 0.5s ease-out;
}
.lektorky__lektorka:hover {
  transform: rotate(5deg);
  transition: transform 0.5s ease-out;
}
.lektorky__item {
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lektorky__item--1 {
  background-image: url(/images/lektorky/sykorova.PNG);
}
.lektorky__item--2 {
  background-image: url(/images/lektorky/sykorova.PNG);
}
.lektorky__item--active {
  filter: blur(4px);
}
.lektorky__name {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.lektorky__name--active {
  display: none;
}
.lektorky__plus {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 3px var(--primaryColor);
}
.lektorky__plus--active {
  display: none;
}
.lektorky__plus--bar-H, .lektorky__plus .lektorky__plus--bar-V {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: white;
}
.lektorky__plus--bar-H {
  margin-top: 13px;
  margin-left: 5px;
}
.lektorky__plus--bar-V {
  transform: rotate(90deg);
  margin-top: 13px;
  margin-left: 5px;
}
.lektorky__description {
  position: absolute;
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 5;
  border: 3px solid #f1f1f1;
  font-weight: 600;
}
.lektorky__description--active {
  display: block;
}

.lekce__background--1 {
  background: #333 url(/images/lekce/baby_sportik.PNG) center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 63rem) {
  .contact {
    max-width: 70rem;
  }
}
.contact__title {
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.contact__title svg {
  width: 100%;
  height: 100%;
  fill: var(--textColor1);
}
.contact__info {
  align-self: center;
  padding-left: 1rem;
}
.contact__item {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
}
.contact__map {
  width: 100%;
  height: 300px;
}
.contact__link {
  font-weight: 600;
  text-decoration: none;
}
.contact__link:link {
  color: var(--buttonColor);
}
.contact__link:visited {
  color: var(--textColo) r;
}
.contact__link:hover {
  color: var(--tertiaryColor);
}
.contact__link:after {
  content: "";
  display: inline-block;
  background-image: url(/images/newtab.svg);
  background-position: cover;
  background-repeat: no-repeat;
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.5em;
}
@media screen and (min-width: 42rem) {
  .contact {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .contact__map {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .contact__adress {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.footer__copyright {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
}
.footer__link, .footer__link:visited {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.heading-frame {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  grid-template-columns: auto;
  grid-template-rows: max-content auto max-content;
  background-size: cover;
  color: var(--primaryColor);
  padding: 2rem;
  z-index: 2;
  width: calc(100vw - 2rem - 2rem);
  height: 300px;
}
@media screen and (min-width: 500px) {
  .heading-frame {
    width: calc(500px - 3rem - 2rem);
  }
}
@media screen and (min-width: 50rem) {
  .heading-frame {
    width: calc(50vw - 4rem - 1.5rem - 2rem);
  }
}
.heading-frame__background {
  background-color: rgba(41, 36, 36, 0.5);
}

.heading-frame__topRight {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr max-content;
  text-transform: uppercase;
}
.heading-frame__topRight:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
}

.heading-frame:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  grid-column: 1;
  grid-row: 2/3;
  border-bottom: 0;
  border-top: 0;
}

.heading-frame__bottomLeft {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  display: grid;
  gap: 10px;
  grid-template-columns: max-content 1fr;
  text-transform: uppercase;
}
.heading-frame__bottomLeft:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-left: none;
  border-top: none;
}

.heading-frame:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.ramecek {
  --s0: calc(1.25em + 6px);
  --s1: calc(1.25em + 6px + 0.5em);
  position: relative;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 2em;
  border: solid 0 transparent;
  border-width: 0 -5px 2px 0;
  padding: 10px 0.5em 0.5em 20px;
  background: var(--c) padding-box;
  background-color: inherit;
  color: inherit;
  font-size: 2rem;
  font-weight: 400;
}
.ramecek__color1 {
  color: var(--textColor1);
  background-color: var(--backgroundColor1);
}
.ramecek__color2 {
  color: var(--textColor2);
  background-color: var(--backgroundColor2);
}
.ramecek::before {
  position: absolute;
  top: 0;
  left: 0;
  border: inherit;
  border: solid 0 transparent;
  border-width: 5px 2px 0 5px;
  width: 100%;
  height: 2em;
  mix-blend-mode: difference;
  pointer-events: none;
  box-sizing: content-box;
  content: "";
}
.ramecek.ramecek__color1::before {
  box-shadow: inset 0 0 0 1px var(--backgroundColor1);
}
.ramecek.ramecek__color2::before {
  box-shadow: inset 0 0 0 1px var(--backgroundColor2);
}

.nadpis {
  font-size: 2rem;
  color: var(--backgroundColor1);
  position: relative;
  padding-left: 70px;
}

.letter {
  font-size: 2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--backgroundColor2);
}

.mujramecek {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--backgroundColor1);
  border-radius: 95% 5% 5% 6%;
  border: none;
  padding: 50px 60px 20px 30px;
  position: relative;
}

.test2 {
  position: absolute;
  left: 18px;
  padding-left: 10px;
  top: 15px;
  width: -moz-max-content;
  width: max-content;
  mix-blend-mode: difference;
}

.count {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.animationLeft {
  animation: headlineAnimation 2s ease-in-out forwards;
}

.animationRight {
  animation: headlineAnimationRight 2s ease-in-out forwards;
}

@keyframes headlineAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes headlineAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  background-color: var(--primaryColor);
  overflow: auto;
  z-index: 5;
}
.dialog__grid {
  gap: 0;
}
.dialog__window {
  width: 100%;
  max-width: 0 auto;
  display: block;
}
.dialog__button {
  cursor: pointer;
}
.dialog__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: var(--primaryColor);
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  border: 0.5px solid grey;
}
.dialog.active {
  display: block;
  animation: popupAnimation 1500ms ease-in-out forwards;
}
.dialog.active .dialog__window {
  transition: all 100ms ease-in-out 1300ms;
}
@keyframes popupAnimation {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 2px;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.dialog__content h1 {
  text-align: center;
  padding-top: 2rem;
}
.dialog__content h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dialog__content--inner {
  width: 100%;
}
.dialog__content--inner:nth-of-type(odd) {
  background-color: var(--backgroundColor1);
  color: var(--textColor1);
}
.dialog__content--inner:nth-of-type(even) {
  background-color: var(--backgroundColor2);
  color: var(--textColor2);
}
.dialog__headline {
  font-size: 2rem;
  padding-top: 3rem;
}
.dialog__item--grid {
  padding: 1.5rem 1rem 2rem 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 42rem) {
  .dialog__item--grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: stretch;
  }
}
.dialog__item--grid ul li {
  padding-top: 0.5rem;
}
.dialog__item--grid ul li:last-child {
  padding-bottom: 1rem;
}
.dialog__item--grid ul li:first-child {
  padding-top: 1rem;
}
.dialog__icon {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.dialog__img {
  width: 100%;
  height: 100%;
}
.dialog__img:nth-of-type(even) {
  fill: var(--textColor1);
}
.dialog__img:nth-of-type(odd) {
  fill: var(--textColor2);
}/*# sourceMappingURL=style.css.map */