<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header" id="uvod">
        <div class="loading"></div>
        <div class="header__brand">TS Attitude</div>
        <div class="header__motto">"TS Attitude DKnL není jen zábava, je to naše druhá rodina." TS Attitude DKnL</div>
        {% include 'partials/menu.njk' %}
    </header>

<section class="section__1" id="onas">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">O NÁS</h1>
            </div>
        </div>

        <p class="AddAnimRight">Vítejte na stránkách Taneční skupiny Attitude Dvůr Králové nad Labem! Jsme taneční skupina, která byla založena v roce 2011 Lucií Sýkorovou, ale naše historie sahá do roku 2007, kdy jsme se začali aktivně podílet na tanečních kroužcích v DDM1. Naše skupina se skládá z více než 170 členů ve věku od 3 let až po dospělé, kteří mají společné to, že milují tanec a pohyb.</p>

        <p class="AddAnimLeft">Od našich začátků jsme se účastnili pohárových i republikových tanečních soutěží, kde jsme získali mnoho krásných umístění. Kromě účasti na soutěžích také vytváříme choreografie na různé akce a realizujeme vlastní projekty. Jsme hrdí na to, že naše skupina disponuje řadou vlastních lektorů, kteří naše členy vedou ke stále lepším výkonům. Pravidelně se také učíme od lektorů z předních tanečních skupin v České republice.</p>
        
        <p class="AddAnimRight">Naším hlavním cílem je, aby se členové TS Attitude DKnL cítili v naší komunitě dobře, aby milovali pohyb a tanec a trávili svůj volný čas efektivně a smysluplně. Věříme, že tanec může být prospěšný pro duši i tělo, a chceme přinést do životů našich členů radost a pozitivní energii.</p>
        
        <p class="AddAnimLeft">Děkujeme, že jste navštívili naše stránky, a těšíme se na setkání s vámi na našich tanečních akcích a projektech. S pozdravem, Taneční skupina Attitude Dvůr Králové nad Labem</p>

        <div class="lineSection">
        <div class="counters">
            <div class="counters__card">
                <h3 data-target="10000" class="counters__item">0</h3>
                <p>popisek</p>
            </div>

            <div class="counters__card">
                <h3 data-target="400" class="counters__item">0</h3>
                <p>popisek</p>
            </div>

            <div class="counters__card">
                <h3 data-target="300" class="counters__item">0</h3>
                <p>popisek</p>
            </div>

            <div class="counters__card">
                <h3 data-target="10" class="counters__item">0</h3>
                <p>popisek</p>
            </div>

            <div class="counters__card">
                <h3 data-target="1000" class="counters__item">0</h3>
                <p>popisek</p>
            </div>

            <div class="counters__card">
                <h3 data-target="600" class="counters__item">0</h3>
                <p>popisek</p>
            </div>
        </div>
    </div>

        <div class="why">
        <h1 class="why__headline">Proč tančit právě s námi?</h1>
        <div class="why__cards">
        <div class="why__card">
            <svg class="why__img" viewbox="-0.1 -0.1 39.367 21.604" version="1.1" id="svg12">
                <path id="circle8" d="M11.0165 12.563a5.508 5.508 0 0 1-5.508 5.508 5.508 5.508 0 0 1-5.508-5.508 5.508 5.508 0 0 1 5.508-5.508 5.508 5.508 0 0 1 5.508 5.508Zm.5325.459c-.192 2.533-1.918 4.614-4.265 5.334.504 1.756 2.104 3.048 4.022 3.048 2.322 0 4.204-1.882 4.204-4.203-.001-2.238-1.756-4.051-3.961-4.179M10.293 0l-.718 8.063c1.2 1.09 1.976 2.64 2.009 4.383 1.962.114 3.595 1.405 4.221 3.178l22.025 1.964 1.338-15.014Zm25.724 15.424-19.122-1.706.985-11.036 19.121 1.705Zm.285076-10.45171-.86953 9.753811-17.839155-1.590319.86953-9.753811z"/>
              </svg>
              <p class="why__description">Parta</p>
        </div>

        <div class="why__card">
            <svg class="why__img" viewbox="-0.1 -0.1 39.367 21.604" version="1.1" id="svg121">
                <path id="circle81" d="M11.0165 12.563a5.508 5.508 0 0 1-5.508 5.508 5.508 5.508 0 0 1-5.508-5.508 5.508 5.508 0 0 1 5.508-5.508 5.508 5.508 0 0 1 5.508 5.508Zm.5325.459c-.192 2.533-1.918 4.614-4.265 5.334.504 1.756 2.104 3.048 4.022 3.048 2.322 0 4.204-1.882 4.204-4.203-.001-2.238-1.756-4.051-3.961-4.179M10.293 0l-.718 8.063c1.2 1.09 1.976 2.64 2.009 4.383 1.962.114 3.595 1.405 4.221 3.178l22.025 1.964 1.338-15.014Zm25.724 15.424-19.122-1.706.985-11.036 19.121 1.705Zm.285076-10.45171-.86953 9.753811-17.839155-1.590319.86953-9.753811z"/>
              </svg>
              <p class="why__description">Prostředí</p>
        </div>

        <div class="why__card">
            <svg class="why__img" viewbox="-0.1 -0.1 39.367 21.604" version="1.1" id="svg122">
                <path id="circle82" d="M11.0165 12.563a5.508 5.508 0 0 1-5.508 5.508 5.508 5.508 0 0 1-5.508-5.508 5.508 5.508 0 0 1 5.508-5.508 5.508 5.508 0 0 1 5.508 5.508Zm.5325.459c-.192 2.533-1.918 4.614-4.265 5.334.504 1.756 2.104 3.048 4.022 3.048 2.322 0 4.204-1.882 4.204-4.203-.001-2.238-1.756-4.051-3.961-4.179M10.293 0l-.718 8.063c1.2 1.09 1.976 2.64 2.009 4.383 1.962.114 3.595 1.405 4.221 3.178l22.025 1.964 1.338-15.014Zm25.724 15.424-19.122-1.706.985-11.036 19.121 1.705Zm.285076-10.45171-.86953 9.753811-17.839155-1.590319.86953-9.753811z"/>
              </svg>
              <p class="why__description">Kvalitní lektoři</p>
        </div>

        <div class="why__card">
            <svg class="why__img" viewbox="-0.1 -0.1 39.367 21.604" version="1.1" id="svg123">
                <path id="circle83" d="M11.0165 12.563a5.508 5.508 0 0 1-5.508 5.508 5.508 5.508 0 0 1-5.508-5.508 5.508 5.508 0 0 1 5.508-5.508 5.508 5.508 0 0 1 5.508 5.508Zm.5325.459c-.192 2.533-1.918 4.614-4.265 5.334.504 1.756 2.104 3.048 4.022 3.048 2.322 0 4.204-1.882 4.204-4.203-.001-2.238-1.756-4.051-3.961-4.179M10.293 0l-.718 8.063c1.2 1.09 1.976 2.64 2.009 4.383 1.962.114 3.595 1.405 4.221 3.178l22.025 1.964 1.338-15.014Zm25.724 15.424-19.122-1.706.985-11.036 19.121 1.705Zm.285076-10.45171-.86953 9.753811-17.839155-1.590319.86953-9.753811z"/>
              </svg>
              <p class="why__description">Úspěchy</p>
        </div>

    </div>
</div>

    </div>
</section>

{% include 'partials/fotoBaner.njk' %}

{% include 'partials/lekce.njk' %}

{% include 'partials/dialogWindows.njk' %}
{% include 'partials/fotoBaner2.njk' %}
{% include 'partials/lektori.njk' %}


{% include 'partials/fotogalerie.njk' %}
{% include 'partials/coNabizime.njk' %}
{% include 'partials/sponsors.njk' %}
{% include 'partials/kontakt.njk' %}

{% include 'partials/footer.njk' %}
{% include 'partials/javascript.njk' %}



</body>
</html>