<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="loading"></div>
        <div class="header__brand">TS Attitude</div>
        <div class="header__motto">"TS Attitude DKnL není jen zábava, je to naše druhá rodina." TS Attitude DKnL</div>
        {% include 'partials/menu.njk' %}
    </header>

    <!-- <section> -->
        <!-- <h3 data-target="200" class="count">0</h3> -->
        <!-- <h3 data-target="400" class="count">0</h3> -->
    <!-- </section> -->
<section class="section__1">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek">
                <h1 class="nadpis">O NÁS</h1>
            </div>
        </div>

        <p>Vítejte na stránkách Taneční skupiny Attitude Dvůr Králové nad Labem! Jsme taneční skupina, která byla založena v roce 2011 Lucií Sýkorovou, ale naše historie sahá do roku 2007, kdy jsme se začali aktivně podílet na tanečních kroužcích v DDM1. Naše skupina se skládá z více než 170 členů ve věku od 3 let až po dospělé, kteří mají společné to, že milují tanec a pohyb.</p>

        <p>Od našich začátků jsme se účastnili pohárových i republikových tanečních soutěží, kde jsme získali mnoho krásných umístění. Kromě účasti na soutěžích také vytváříme choreografie na různé akce a realizujeme vlastní projekty. Jsme hrdí na to, že naše skupina disponuje řadou vlastních lektorů, kteří naše členy vedou ke stále lepším výkonům. Pravidelně se také učíme od lektorů z předních tanečních skupin v České republice.</p>
        
        <p>Naším hlavním cílem je, aby se členové TS Attitude DKnL cítili v naší komunitě dobře, aby milovali pohyb a tanec a trávili svůj volný čas efektivně a smysluplně. Věříme, že tanec může být prospěšný pro duši i tělo, a chceme přinést do životů našich členů radost a pozitivní energii.</p>
        
        <p>Děkujeme, že jste navštívili naše stránky, a těšíme se na setkání s vámi na našich tanečních akcích a projektech. S pozdravem, Taneční skupina Attitude Dvůr Králové nad Labem</p>
    </div>
</section>


<section class="section__2">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek">
                <h1 class="nadpis">LEKCE</h1>
            </div>
        </div>

        <div class="mujramecek">
        <div class="test">
            <div class="test2">
            
            <h1 class="nadpis">LEKCE</h1>
        </div>
        </div>
    </div>

    <div class="grid__cards">
        <div class="grid__item">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--1"></div>
            <div class="heading-frame lekce__background--1">
                <div class="heading-frame__topRight">Pondělí 18-19 <br>6-8let</div>
                <div class="heading-frame__bottomLeft">BABY SPORTIK</div>
            </div>
        </div>

        <div class="grid__item dialog__button" id="dialog__openBtn--2">
            <div class="heading-frame lekce__background--1">
                <div class="heading-frame__topRight">Pondělí 18-19 <br>6-8let</div>
                <div class="heading-frame__bottomLeft">BABY SPORTIK</div>
            </div>
        </div>

    </div>

    </div>
</section>

<!-- //////////////////////////////pondeli//////////////////////////////// -->
<div class="dialog" id="dialog--1" aria-labelledby="dialog__openBtn--1" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--1" aria-label="Zavři modální okno" type="button">&times;</button>
        <div class="dialog__content">
            
            <h1>BABY SPORTÍK</h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--1">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img class="dialog__img" src="/images/icons/frodoxv_Family.svg" alt=""></div>
                        <div>
                            <h2>Pro koho</h2>
                    
                            <p>Lekce jsou určeny pro holky i kluky ve věku od 3 do 5 let.</p>
                        </div>
                    </div>
                </div>

                <div class="dialog__content--2">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img src="/images/icons/Calendar-icon.svg" alt=""></div>
                        <div>
                            <h2>Kdy</h2>
                        
                            <p>Každé úterý od 16:00 do 16:50 hod na Slovanech(bude opraveno)</p>
                
                            <p>První lekce 15.9.2023</p>
                        </div>
                    </div>
                </div>

                <div class="dialog__content--2">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img src="/images/icons/Calendar-icon.svg" alt=""></div>
                        <div>
                            <h2>Náplň</h2>
                        
                            <p>Plánujeme pravidelně střídat tyto okruhy: gymnastika, atletika, míčové a cílové hry, jemná/hrubá motorika.</p>
            
                            <ul>
                                <li>zábavné rozcvičky</li>
                                <li>opičí dráhy</li>
                                <li>sportovní hry</li>
                                <li>dětská jóga</li>
                                <li>spojení pohybu a hudby</li>
                                <li>krátké taneční sestavičky</li>
                            </ul>
                            
                            <p>Děti budou běhat, skákat, lézt a mnoho dalšího. Vše bude probíhat formou zábavy.</p>
                            
                            <p>Budou se socializovat, hezky se zabaví, naučí se spoustu nového a otrkají se.</p>
                        </div>
                    </div>
                </div>

                <div class="dialog__content--2">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img src="/images/icons/Calendar-icon.svg" alt=""></div>
                        <div>
                            <h2>Cena</h2>
                        
                            <p>1000 Kč/pol. (pol. září-pol. ledna), první lekce na zkoušku ZDARMA! V ceně je klubové tričko a 15 lekcí (cca 60 Kč/lekce)</p>
            
                            na účet 260675186/0300 (do poznámky prosím vložte jméno dítěte). Lekce lze platit i jednorázově - 100 Kč/hod (lekce má 50 minut).
                            
                            OMEZENÁ KAPACITA - NUTNO VYPLNIT PŘIHLÁŠKU: XXX dodám
                            
                            V případě dalších dotazů mě kontaktujte (Lucie Sýkorová) na mobil: 720201034. Odkaz na video: https://www.instagram.com/stories/highlights/17942938238305370/
                            
                            V ceně není zahrnutý kostým (max 500 Kč/os.) – tento poplatek se vybírá v pololetí.
                        </div>
                    </div>
                </div>

                <div class="dialog__content--2">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img src="/images/icons/Calendar-icon.svg" alt=""></div>
                        <div>
                            <h2>Ostatní informace</h2>
                        
                            <p>Lekci povede lektorka Andrejka, která má bohaté zkušenosti s vedením dětských aktivit.</p>
                        </div>
                    </div>
                </div>

                <div class="dialog__content--2">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon"><img src="/images/icons/Calendar-icon.svg" alt=""></div>
                        <div>
                            <h2>S sebou na lekci</h2>
                        
                            <p>Jakékoliv sportovní oblečení, přezůvky (sálová obuv) a pití.</p>
            
                            <p>Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby.</p>
                            
                            <p>Děti předvedou taneční sestavičku na vánoční besídce i v rámci divadelního představení na závěr školního roku v Hankově domě. V případě zájmu děti (rodičů) předvedou děti taneček na soutěži Dvorská Jednička (duben 2023). Trenérka Ája.</p>
                            
                            <p>Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)</p>
                            
                            <p>S sebou na lekci: Jakékoliv sportovní oblečení, přezůvky (sálová obuv) a pití.</p>
                        </div>
                    </div>
                </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>

    <!-- <div class="obrazek--group">
        <img class='obrazek' src="/images/banner1.PNG" alt="">
        <div class="obrazek__click"></div>
    </div> -->


<section class="section__1">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek">
                <h1 class="nadpis">LEKTORKY</h1>
            </div>
        </div>

        <div class="grid__cards lektorky">
            <div class="lektorky__lektorka">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Lucie Sýkorová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    lektorka 1
                </div>
            </div>

            <div class="lektorky__lektorka">
                <div class="lektorky__item lektorky__item--2"></div>
                <div class="lektorky__name">Lucie Sýkorová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    lektorka 2
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partials/footer.njk' %}
{% include 'partials/javascript.njk' %}



</body>
</html>