



.mujramecek {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  overflow-x: hidden;
  padding: 0.5em;
  /* min-height: 100vh; */
  /* background: linear-gradient(var(--ang, 185deg), #000 calc(50% - .5px), #fff calc(50% + .5px)); */
}
@media (min-width: 37.8125em) {
  body {
    --ang: 85deg ;
  }
	
}




h1 {
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1.75;
  margin-left: -50vw;
  /* transform: translateX(150px); */
  

}

.test {
  margin-left: 120vw;
  width: 350px;
  /* animation: headlineAnimationRight 2s ease-in-out forwards; */
}



.obrazek--group {
  position: relative;
  overflow: hidden;
}
.obrazek {
  width: calc(100vw - 40px);
  margin-left: auto;
  margin-right: auto;
}

.obrazek:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.obrazek__click {
  position: absolute;
  width: calc(100vw - 40px);
  height: 100%;
  background-color: rgba(79, 138, 28, 0.8);
  /* visibility: hidden; */
}

/* .obrazek--group:hover .obrazek__click {
  transform: translateY(-100%) scale(1.05);
  transition: transform 1s;
} */




