<!-- //////////////////////////////pondeli//////////////////////////////// -->
<div class="dialog" id="dialog--1" aria-labelledby="dialog__openBtn--1" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--1" aria-label="Zavři modální okno" type="button">&times;</button>
        <div>SPORTÍK

            Pro koho:
            
            Lekce jsou určeny pro holky i kluky ve věku od 3 do 5 let.
            
            Kdy:
            
            Každé úterý od 16:00 do 16:50 hod na Slovanech(bude opraveno)
            
            První lekce 15.9.2023
            
            Náplň:
            
            Plánujeme pravidelně střídat tyto okruhy: gymnastika, atletika, míčové a cílové hry, jemná/hrubá motorika.
            
            – zábavné rozcvičky
            
            – opičí dráhy
            
            – sportovní hry
            
            – dětská jóga
            
            – spojení pohybu a hudby
            
            – krátké taneční sestavičky
            
            Děti budou běhat, skákat, lézt a mnoho dalšího. Vše bude probíhat formou zábavy.
            
            Budou se socializovat, hezky se zabaví, naučí se spoustu nového a otrkají se.
            
            Cena:
            
            1000 Kč/pol. (pol. září-pol. ledna), první lekce na zkoušku ZDARMA! V ceně je klubové tričko a 15 lekcí (cca 60 Kč/lekce)
            
            na účet 260675186/0300 (do poznámky prosím vložte jméno dítěte). Lekce lze platit i jednorázově - 100 Kč/hod (lekce má 50 minut).
            
            OMEZENÁ KAPACITA - NUTNO VYPLNIT PŘIHLÁŠKU: XXX dodám
            
            V případě dalších dotazů mě kontaktujte (Lucie Sýkorová) na mobil: 720201034. Odkaz na video: https://www.instagram.com/stories/highlights/17942938238305370/
            
            V ceně není zahrnutý kostým (max 500 Kč/os.) – tento poplatek se vybírá v pololetí.
            
            Ostatní informace:
            
            Lekci povede lektorka Andrejka, která má bohaté zkušenosti s vedením dětských aktivit.
            
            S sebou na lekci: jakékoliv sportovní oblečení, přezůvky (sálová obuv) a pití.
            
            Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby.
            
            Děti předvedou taneční sestavičku na vánoční besídce i v rámci divadelního představení na závěr školního roku v Hankově domě. V případě zájmu děti (rodičů) předvedou děti taneček na soutěži Dvorská Jednička (duben 2023). Trenérka Ája.
            
            Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)
            
            S sebou na lekci: Jakékoliv sportovní oblečení, přezůvky (sálová obuv) a pití.</div>
    </div>
</div>
