<!-- //////////////////////////////pro zabavu - break dance - deti a juniori//////////////////////////////// -->
<div class="dialog" id="dialog--5" aria-labelledby="dialog__openBtn--5" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--5" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">Brake DANCE - DĚTI A JUNIOŘI  </h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce jsou určeny pro holky B-Girls a kluky B-Boys od 6 do 15 let.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každou středu od 17:30 do 18:30 hod na Slovanech</p>
        
                    <p>První lekce 13.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                    <ul>
                        <li>posilování</li>
                        <li>základy gymnastiky</li>
                        <li> přiblížení ke kultuře break dance</li>
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2800 Kč/rok (13.9.2023-5.6.2024)</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko.</p>
                    
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Zkušený lektor a výborný tanečník Henry naučí členy této skupinky základům break dance a později i různé kombo z těchto základů. Zájemci si budou moci vyzkoušet i taneční battly.

                        Rodiče se mohou těšit na představení na závěr školního roku a další různá vystoupení. Členové se mohou účastnit tanečních battlů ve Východních Čechách.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.  </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>