<!-- //////////////////////////////pro zabavu - break dance - deti a juniori//////////////////////////////// -->
<div class="dialog" id="dialog--7" aria-labelledby="dialog__openBtn--7" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--7" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">Pole dance a vzdušná akrobacie - mix. věkových kategorií   </h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Pro všechny dívky, slečny, ženy, které mají zájem o tanec na tyči a o vzdušnou akrobacii (akrobatická šála, lyrapole atd.). Posílíme nejen střed těla a naučíme se krásné pohyby, které se ale nedají zvládnout bez pořádné dřiny!</p>
                    <p>Dětské lekce: začátečníci i pokročilý (viz popis níže)</p>
                    <p>Pro dospělé nabízíme SOUKROMÉ LEKCE – od 350 Kč/hod</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každý čtvrtek od 16:00 do 17:00 hod nebo od 18:00 do 19:00 hod na Slovanech</p>
        
                    <p>První lekce 14.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                    <ul>
                        <li>zvyšování flexibility</li>
                        <li>zlepšování fyzické zdatnosti</li>
                        <li>základní akrobatické prvky</li>
                        <li>základní prvky</li>
                        <li>choreografie</li>
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2800 Kč/rok (14.9.2023-6.6.2024), první lekce na zkoušku ZDARMA!</p>
                    
                    <p>Cena zahrnuje lekce a klubové tričko. V ceně není zahrnutý kostým (max. 700 Kč/os.) – tento poplatek se vybírá v pololetí.</p>
                    
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Holky budou připravovány převážně na předtančení.

                        Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)
                        
                        Tanečnice budou mít představení na závěr školního roku v divadle.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.  </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>