<!-- //////////////////////////////pro zabavu - mini deti a deti//////////////////////////////// -->
<div class="dialog" id="dialog--4" aria-labelledby="dialog__openBtn--4" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--4" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">STREET DANCE - MINI DĚTI A DĚTI </h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce pro holky i kluky ve věku od 6 do 11 let (ve skupince mohou být i 3 děti až 13ti leté). Lekce jsou určené hlavně dětem, které se chtějí věnovat tanci hlavně ze zábavy. Budou si moci vyzkoušet i soutěž, ale účast bude dobrovolná.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každý čtvrtek od 15:00 do 16:00 hod na Slovanech</p>
        
                    <p>První lekce 14.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                    <ul>
                        <li>všestranná pohybová průprava</li>
                        <li> veselé rozcvičky</li>
                        <li>základní taneční krůčky</li>
                        <li> průprava tanečními styly street dance</li>
                        <li> pohybové hry a zábava</li>
                        <li>taneční choreografie</li>
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2500 Kč/rok (14.9.2023-6.6.2024), první dvě lekce na zkoušku ZDARMA!</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko, drobné odměny pro děti. V ceně není zahrnutý kostým (max. 700 Kč/os.) – tento poplatek se vybírá v pololetí.</p>
                    
                    <p>Lekce lze platit i jednorázově - 100 Kč/hod</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)

                        Tanečníci a tanečnice budou mít představení na závěr školního roku v divadle. Děti se budou moci účastnit pohárových tanečních soutěží.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.  </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>