<!-- //////////////////////////////baby sportik//////////////////////////////// -->
<div class="dialog" id="dialog--1" aria-labelledby="dialog__openBtn--1" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--1" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">SPORTÍK</h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce jsou určeny pro holky i kluky ve věku od 3 do 5 let.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každý pátek od 15:30 do 16:20 hod na Slovanech.</p>
        
                    <p>První lekce 15.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                
                    <p>Budeme střídat tyto okruhy: gymnastika, atletika, míčové a cílové hry, jemná/hrubá motorika.</p>
    
                    <ul>
                        <li>zábavné rozcvičky</li>
                        <li>opičí dráhy</li>
                        <li>sportovní hry</li>
                        <li>dětská jóga</li>
                        <li>krátké taneční sestavičky</li>
                    </ul>
                    
                    <p>Vše probíhá formou zábavy. Děti se budou socializovat, hezky se zabaví, naučí se spoustu nového a otrkají se.</p>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2200 Kč/rok (15.9.2023-7.6.2024), první dvě lekce na zkoušku ZDARMA!</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko, drobné odměny pro děti.</p>
                    
                    <p>Lekce lze platit i jednorázově - 90 Kč/hod (lekce má 50 minut).</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Lekci povede lektorka Syki, která má bohaté zkušenosti s vedením dětských aktivit. Na lekci budou přítomné i pomocnice, takže každé dítko bude mít individuální přístup. Sportíci si budou moci vyzkoušet různé druhy sportů – v případě zájmu je domluvena i extérní trenérka plavání.

                        Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)
                        
                        Odkaz na video <a href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Fstories%2Fhighlights%2F17942938238305370%2F">na našem Instagramu</a> </p>
                        <p>Na závěr školního roku děti předvedou sportovní sestavičku na divadelní show v Hankově domě.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.</p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>