<!-- //////////////////////////////sportak//////////////////////////////// -->
<div class="dialog" id="dialog--2" aria-labelledby="dialog__openBtn--2" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--2" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">SPORŤÁK</h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce jsou určeny pro holky i kluky ve věku od 8 do 12 let, kteří milují sport.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každé úterý od 16:30 do 17:30 hod na Slovanech</p>
        
                    <p>První lekce 12.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                
                    <p>Lekce budou zaměřeny na pohybovou všestrannost. Budeme střídat tyto okruhy: gymnastika, atletika, míčové hry a cílové sporty.</p>
                    
                    <p>Zaměříme se i na zdraví životní styl – stravování, pitný režim, spánek.</p>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2500 Kč/rok (12.9.2023-4.6.2024), první lekce na zkoušku ZDARMA!</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko, drobné odměny pro sportovce.</p>
                    
                    <p>Lekce lze platit i jednorázově - 100 Kč/hod</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Lekci povede trenérka Syki a trenérka Barča, které milují pohyb a samy aktivně sportují. Sporťáci si budou moci vyzkoušet různé druhy pohybových aktivit – v případě zájmu je domluvena i extérní trenérka plavání.

                    Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)</p>
                    
                    <p>Na závěr školního roku sporťáci předvedou (pokud budou mít zájem) sportovní sestavu na divadelní show v Hankově domě.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>sportovní oblečení, přezůvky (sálová obuv), pití, popř. ručník. </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>