<!-- //////////////////////////////tanecni lekce basic vyberove - deti//////////////////////////////// -->
<div class="dialog" id="dialog--13" aria-labelledby="dialog__openBtn--13" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--13" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">Street dance DĚTI </h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce jsou určeny pro holky i kluky ve věku od 8mi do 11ti let, kteří se tanci chtějí věnovat naplno a jsou ochotní svůj volný čas věnovat tréninkům a reprezentaci TS Attitude DKnL. Tanečníci jsou do skupinky přijímáni na základě výběru, který se bude konat 8.9. od 16 hod na Slovanech.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každé ponděl 15:30-16:30 hod a čtvrtek 16:00-17:30 hod na Slovanech</p>
        
                    <p>První lekce 11.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                    <ul>
                        <li>průprava tanečními styly street dance</li>
                        <li> taneční choreografie</li>
                        <li>posilování, aerobní cvičení, zvyšování flexibility</li>
                        <li>základy gymnastiky</li>
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>3800 Kč/rok (11.9.2023-6.6.2024).</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko, soustředění (3 hod), startovné na soutěže, drobné odměny pro tanečníky. V ceně není zahrnutý kostým (max 1000 Kč/os) – tento poplatek se vybírá v pololetí.</p>
                    
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Členové této skupinky budou přijímání na základě castingu 8.9. od 16 hod. Tato skupina je určena pro tanečníky, kteří se v tanečním světě chtějí posunout co nejvýše. Jedná se o reprezentativní tým TS Attitude DKNL. Od členů se očekává, že budou mít co nejlepší docházku nejen během tréninků (2x týdně), ale i na soutěžích (březen – červen), během roku si připraví 1-2 lekce pro jinou skupinku, ve které se vžijí do role trenéra.

                        Rodiče se mohou těšit na na závěr školního roku a další různá vystoupení. Členové se budou účastnit pohárových i postupových tanečních soutěží (březen-červen).</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.  </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>