<!-- //////////////////////////////tanecni lekce zacatecnici a hobby - mini deti//////////////////////////////// -->
<div class="dialog" id="dialog--9" aria-labelledby="dialog__openBtn--9" aria-modal="true" role="dialog">
    <div class="dialog__window">
        <button class="dialog__close dialog__closeBtn--9" aria-label="Zavři modální okno" type="button">&times
        </button>
        <div class="dialog__content">
            
            <h1 class="dialog__headline">TANEČNÍ LEKCE – ZAČÁTEČNÍCI A HOBBY</h1>

            <div class="grid__cards dialog__grid">
                <div class="dialog__content--inner">
                    
                    <div class="dialog__item--grid">
                        <div class="dialog__icon">
                            {% include '../components/icons/dialog_proKoho.njk' %}
                        </div>
                    <div>
                    <h2>Pro koho</h2>
                    
                    <p>Lekce pro holky i kluky ve věku od 5ti do 8mi let. Lekce jsou určené hlavně dětem, které se chtějí věnovat tanci na soutěžní úrovni – úroveň hobby.</p>
                </div>

            </div>
        </div>

        <div class="dialog__content--inner">
                    
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_kdy.njk' %}
                </div>
                <div>
                    <h2>Kdy</h2>
                
                    <p>Každý pátek od 16:30 do 18:00 hod na Slovanech</p>
        
                    <p>První lekce 15.9.2023</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_napln.njk' %}
                </div>
                <div>
                    <h2>Náplň</h2>
                    <ul>
                        <li>všestranná pohybová průprava</li>
                        <li>zábavné rozcvičky</li>
                        <li>základní taneční krůčky</li>
                        <li>průprava tanečními styly street dance</li>
                        <li> taneční choreografie</li>
                        <li>pohybové hry a zábava</li>
                    </ul>
                
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_cena.njk' %}
                </div>
                <div>
                    <h2>Cena</h2>
                
                    <p>2900 Kč/rok (14.9.2023-6.6.2024), první dvě lekce na zkoušku ZDARMA!</p>
                    
                    <p>Cena zahrnuje lekce, klubové tričko, soustředění (3 hod) a drobné odměny pro děti. V ceně není zahrnutý kostým (max. 1000 Kč/os.) – tento poplatek se vybírá v pololetí.</p>
                    
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/information.njk' %}
                </div>
                <div>
                    <h2>Ostatní informace</h2>
                
                    <p>Rodiče mohou celou dobu sledovat průběh lekce přes televizní obrazovku z chodby a popíjet u toho dobrou kávu :-)

                        Tanečníci a tanečnice budou mít představení na závěr školního roku v divadle. Děti se budou moci účastnit pohárových i postupových tanečních soutěží.</p>
                </div>
            </div>
        </div>

        <div class="dialog__content--inner">
            
            <div class="dialog__item--grid">
                <div class="dialog__icon">
                    {% include '../components/icons/dialog_sSebou.njk' %}
                </div>
                <div>
                    <h2>S sebou na lekci</h2>
                                    
                    <p>Sportovní oblečení, přezůvky (sálová obuv) a pití.  </p>
                </div>
            </div>
        </div>
            
            
            

        
        </div>

        </div>
    </div>
</div>