<section class="section__2" id="aktualne">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color1">
                <h1 class="AddAnimLeft">AKTUÁLNĚ</h1>
            </div>
        </div>
    
        <div class="aktualne">
            <div class="aktualne__item AddAnimRight">
                <h2 class="aktualne__title">Chorvatsko - letní soustředění pro lektory</h2>
                <h3 class="aktualne__date">15.7.-22.7.2023</h3>
                <img class="aktualne__img" src="/images/aktualne/2.jpg" alt="" aria-description="letní soustředění pro lektory v Chorvatsku - Trebalj. Taneční workshopy, relax, příprava na taneční sezónu 23/24 přednášky - anatomie těla, vedení lekcí, první pomoc. Cena 5500Kč">
            </div>

            <div class="aktualne__item AddAnimLeft">
                <h2 class="aktualne__title">DANCE - letní soustředění</h2>
                <h3 class="aktualne__date">29.7.-5.8.2023</h3>
                <img class="aktualne__img" src="/images/aktualne/1.jpg" alt="" aria-description="letní soustředění v RS Český ráj PAŘEZ. Taneční workshopy s těmi nejlepšími profesionálními lektory, přednášky o zdraví tanečníka, soutěže, sportovní hry.Částka: 4800 Kč (částečně hrazeno z dotací)!">
            </div>

            <div class="aktualne__item AddAnimRight">
                <h2 class="aktualne__title">Anglický příměstský tábor</h2>
                <h3 class="aktualne__date">7.8.-11.8.2023</h3>
                <img class="aktualne__img" src="/images/aktualne/3.jpg" alt="" aria-description="tématické zaměření: zvířátka, s kvalifikovanou lektorkou, anglicky prímestsky tabor pro děti od 3 do 7 let, osvojení slovní zásoby v anglickém jazyce, vše hravou a zábavnou formou, sportovní a taneční aktivity, tvůrčí činnosti, celodenní výlet za zvířátky, doprovod hudebních nástrojů,relaxace v závěsných sítích S POHÁDKOU">
            </div>

            <div class="aktualne__item AddAnimLeft">
                <h2 class="aktualne__title">DANCE - letní příměstský tábor</h2>
                <h3 class="aktualne__date">21.8.-25.8.2023</h3>
                <img class="aktualne__img" src="/images/aktualne/4.jpg" alt="" aria-description="letní příměstský tábor. Pro děti od 3 do 17ti let Táborníci se mohou těšit na příjemné přátelské prostředí, milé profesionální lektory a inspirativní programy. Čeká nás spoustu zábavy, tvorby a nevšedních činností! Částka: 1600 Kč (částečně hrazeno z dotací)!">
            </div>
        </div>
    </div>
</section>