<section class="section__1" id="coNabizime">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">CO NABÍZÍME</h1>
            </div>
        </div>

        <h2 class="coNabizime__title">Předtančení na vaši akci</h2>
        <p class="coNabizime__paragraph">- dle požadavků nabízíme různé taneční styly - street dance, ladies dance, chair dance, pole dance, závěsnou akrobacii, break dance, contemporary</p>

        <h2 class="coNabizime__title">Maturitní choreografie</h2>
        <p class="coNabizime__paragraph">- realizace choreografie na klíč (nástup, předtančení, půlnoční překvapení)</p>

        <h2 class="coNabizime__title">Svatební choreografie</h2>
        <p class="coNabizime__paragraph">- tanec novomanželů jako překvapení pro hosty</p>

        <h2 class="coNabizime__title">Střih hudby</h2>
        <p class="coNabizime__paragraph">- rádi vám nastříháme a namixujeme hudbu dle vašich požadavků</p>

        <div class="contactForm" id="contactForm">
            <form action="" class="box">
                <h1>Kontaktní formulář</h1>
                <input type="text" placeholder="Jméno a příjmení">
                <input type="email" placeholder="Email">
                <label for="objednavka">Typ objednávky:</label>
                <select name="objednavka" id="objednavka">
                  <option value="kontaktuji">Chci pouze kontaktovat</option>
                  <option value="predtanceni">Předtančení na vaší akci</option>
                  <option value="maturitni">Maturitní choreografie</option>
                  <option value="svatebni">Svatební choreografie</option>
                  <option value="strih">Střih hudby</option>
                </select>
                <textarea name="" cols="30" rows="10" placeholder="Podrobnější info k objednávce"></textarea>
                <input type="submit" value="Odeslat">
                <p>Ceník zasíláme do 2 dnů po obdržení objednávky.</p>
            </form>
        </div>

        
    </div>
</section>