<section class="section__1" id="coNabizime">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">CO NABÍZÍME</h1>
            </div>
        </div>
    </div>
</section>