{% include '../lekce/sportovni_Sportik.njk' %}
{% include '../lekce/sportovni_Sportak.njk' %}

{% include '../lekce/proZabavu_baby.njk' %}
{% include '../lekce/proZabavu_miniDetiDeti.njk' %}
{% include '../lekce/proZabavu_mamiTatiGang.njk' %}
{% include '../lekce/proZabavu_detiJuniori.njk' %}
{% include '../lekce/proZabavu_poleDanceVzdusnaAkro.njk' %}
{% include '../lekce/proZabavu_jogaVsiti.njk' %}

{% include '../lekce/zacAhobby_miniDeti.njk' %}
{% include '../lekce/zacAhobby_deti.njk' %}
{% include '../lekce/zacAhobby_juniori.njk' %}
{% include '../lekce/zacAhobby_dospeli.njk' %}

{% include '../lekce/vyberove_deti.njk' %}
{% include '../lekce/vyberove_juniori.njk' %}
{% include '../lekce/vyberove_dospeli.njk' %}


