{% include '../lekce/babySportik.njk' %}
{% include '../lekce/babyDance.njk' %}
{% include '../lekce/breakDance.njk' %}
{% include '../lekce/contemporary.njk' %}
{% include '../lekce/deti.njk' %}
{% include '../lekce/detiA.njk' %}
{% include '../lekce/hlavniVekovaKategorieA.njk' %}
{% include '../lekce/Jaromer.njk' %}
{% include '../lekce/jogaVsiti.njk' %}
{% include '../lekce/junioriB.njk' %}
{% include '../lekce/juniorkyA.njk' %}
{% include '../lekce/miniDeti.njk' %}