<footer class="footer">
    <div class="footer__copyright">
        Copyright &copy; <span class="currentYear"></span> Taneční skupina TS Attitude - Vytvořila <a class="footer__link" href="mailto:jana.bartecka@seznam.cz:">Jana Bartecká</a>
    </div>
</footer>