<div class="fotoBaner">
    <img src="/images/lekce/babyDance.jpg" alt="">
    <img src="/images/lekce/breakDance.jpg" alt="">
    <img src="/images/lekce/detiA.jpg" alt="">
    <img src="/images/lekce/junioriB.jpg" alt="">
    <img src="/images/lekce/juniorkyA.jpg" alt="">
    <img src="/images/lekce/HlavniVekovaKategorieA.jpg" alt="">
    <img src="/images/lekce/HlavniVekovaKategorieA.jpg" alt="">
    <img src="/images/lekce/mini-deti.jpg" alt="">
</div>