<div class="fotoBaner">
    <img src="/images/lekce/PROZABAVU-BREAKDANCE.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-JOGAVSITI.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-MAMIATATIGANG.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-POLEDANCEVZDUSNAAKROBACIE.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-STREETDANCEBABY.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-STREETDANCEMINIDETIADETI.jpg" alt="">
    <img src="/images/lekce/SPORTOVNI-SPORTAK.jpg" alt="">
    <img src="/images/lekce/SPORTOVNI-SPORTIK.jpg" alt="">
</div>
<div class="fotoBaner fotoBaner--translateY">
    <img src="/images/lekce/STREETDANCEBASIC-VYBEROVE-JUNIORI.jpg" alt="">
    <img src="/images/lekce/STREETDANCEVYBEROVE-DETI.jpg" alt="">
    <img src="/images/lekce/STREETDANCEVYBEROVE-DOSPELI.jpg" alt="">
    <img src="/images/lekce/STREETDANCEZAAHOBBY-JAROMER-JUNIORI.jpg" alt="">
    <img src="/images/lekce/STREETDANCEZACAHOBBY-JAROMER-DETI.jpg" alt="">
    <img src="/images/lekce/ZACHOBBY-MINIDETI.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-BREAKDANCE.jpg" alt="">
    <img src="/images/lekce/PROZABAVU-JOGAVSITI.jpg" alt="">
</div>