<section class="section__2" id="fotogalerie">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">FOTOGALERIE</h1>
            </div>
        </div>


        <div class="gallery AddAnimRight" id="gallery">
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/343775057_202529799223650_6334392860216423266_n.jpg" alt=""></div>
            </div>

            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/343775057_202529799223650_6334392860216423266_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/343973413_1236068133707420_7308714815974001979_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/344162758_1053788532262748_2617113562506653252_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/344238697_3153249858306681_6481138050650631051_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/344275976_3407803369494437_3729390712838919883_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/344564218_1721867561602568_5020458293923202754_n.jpg" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="/images/fotogalerie/344858948_1297566857500439_5419495677572388748_n.jpg" alt=""></div>
            </div>
        </div>
    </div>

</section>