<section class="section__1" id="kontakt">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">KONTAKT</h1>
            </div>
        </div>

        <div class="contact AddAnimRight">
            <div class="contact__email contact__item"> 
                <a class="contact__title contact--hover" href="#contactForm">
                    {% include 'components/icons/email.njk' %}
                </a>
                <a  class="contact__info contact--hover" href="#contactForm">
                    Kontaktní formulář ZDE.
                </a>
            </div>   
            <div class="contact__email contact__item"> 
                <a class="contact__title contact--hover" href="mailto:info@TS-Attitude.com">
                    {% include 'components/icons/email.njk' %}
                </a>
                <a  class="contact__info contact--hover" href="mailto:info@TS-Attitude.com">
                    info@TS-Attitude.com
                </a>
            </div>   
            <div class="contact__phone contact__item">
                    <a class="contact__title contact--hover" href="tel:720201034">
                        {% include 'components/icons/phone.njk' %}
                    </a>
                    <a class="contact__info contact--hover" href="tel:720201034">
                    +420 720 201 034 
                    </a> 
            </div> 

            <div class="contact__facebook contact__item">
                <div class="contact__title contact--hover">
                    <a class="contact__link" href="https://www.facebook.com/TSAttitude">
                    {% include 'components/icons/facebook.njk' %}
                    </a>
                </div>

                <div class="contact__title contact--hover">
                    <a class="contact__link" href="https://www.instagram.com/ts_attitude/">
                    {% include 'components/icons/instagram.njk' %}
                    </a>
                </div>
            </div>

            <div class="contact__phone contact__item">
                <div class="contact__title">
                    {% include 'components/icons/information.njk' %}
                </div>
                <div class="contact__info">
                IČO: 01650599 <br>
                č.účtu: 260675186/0300
                </div>
            </div> 

            <div class="contact__adress contact__item">            
                <div class="contact__title">
                    {% include 'components/icons/location.njk' %}
                </div>
                <div class="contact__info">
                    Slovany 3051 <br>
                    Dvůr Králové nad Labem<br>
                </div>
            </div>

            <div class="contact__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.3027757304158!2d15.806923576368165!3d50.43546077158932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e8f61ec573b47%3A0xb6a3073de909071a!2sTS%20Attitude%20DKnL!5e0!3m2!1scs!2scz!4v1685134835715!5m2!1scs!2scz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

            <div class="contact__adress contact__item">            
                <div class="contact__title">
                    {% include 'components/icons/location.njk' %}
                </div>
                <div class="contact__info">
                    Tyršova 648 <br>
                    Dvůr Králové nad Labem<br>
                </div>
            </div>

            <div class="contact__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.847024942636!2d15.817629916916047!3d50.43833033200282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e8f5e743a75bd%3A0x5862c077b4511f1b!2zVHlyxaFvdmEgNjQ4LCA1NDQgMDEgRHbFr3IgS3LDoWxvdsOpIG5hZCBMYWJlbQ!5e0!3m2!1scs!2scz!4v1685693622071!5m2!1scs!2scz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="contact__adress contact__item">            
                <div class="contact__title">
                    {% include 'components/icons/location.njk' %}
                </div>
                <div class="contact__info">
                    Knappova 287<br>
                    Jaroměř<br>
                </div>
            </div>

            <div class="contact__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1062.6330376263086!2d15.914757895466913!3d50.3535758157485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e875e58a17351%3A0x6de836b8adfd6791!2zS25hcHBvdmEsIDU1MSAwMSBKYXJvbcSbxZk!5e0!3m2!1scs!2scz!4v1685693753054!5m2!1scs!2scz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>



        </div>
    </div>
</section>