<section class="section__2" id="lekce">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color1">
                <h1 class="AddAnimLeft">LEKCE</h1>
            </div>
        </div>


    <div class="grid__cards grid__cards--lekce">
        <div class="grid__item AddAnimLeft">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--1"></div>
            <div class="heading-frame lekce__background--1">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Pondělí 18-19 <br>6-8let</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">BABY SPORTIK</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--2"></div>
            <div class="heading-frame lekce__background--2">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">BABY DANCE</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimLeft">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--3"></div>
            <div class="heading-frame lekce__background--3">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">BRAKE DANCE</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--4"></div>
            <div class="heading-frame lekce__background--4">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">CONTEMPORARY</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimLeft">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--5"></div>
            <div class="heading-frame lekce__background--5">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">DĚTI</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--6"></div>
            <div class="heading-frame lekce__background--6">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">DĚTI A</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--7"></div>
            <div class="heading-frame lekce__background--7">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">HLAVNÍ VĚKOVÁ <br> KATEGORIE A</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--8"></div>
            <div class="heading-frame lekce__background--8">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">JAROMĚŘ</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--9"></div>
            <div class="heading-frame lekce__background--9">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">JÓGA V SÍTI</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--10"></div>
            <div class="heading-frame lekce__background--10">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">JUNIOŘI B</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--11"></div>
            <div class="heading-frame lekce__background--11">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">JUNIORKY A</span></div>
            </div>
        </div>

        <div class="grid__item AddAnimRight">
            <div class="grid__item--cover dialog__button" id="dialog__openBtn--12"></div>
            <div class="heading-frame lekce__background--12">
                <div class="heading-frame__topRight"><span class="heading-frame__background">Doplnit <br>Doplnit</span></div>
                <div class="heading-frame__bottomLeft"><span class="heading-frame__background">MINI DĚTI</span></div>
            </div>
        </div>

    </div>
</div>
</section>