<section class="section__2" id="lekce">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color1">
                <h1 class="AddAnimLeft">LEKCE</h1>
            </div>
        </div>

        <h2 class="lekce__title AddAnimLeft">Sportovní lekce</h2>
        <p class="lekce__description AddAnimLeft">(1 týdně)</p>

        <div class="grid__cards grid__cards--lekce">
            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--1"></div>
                <div class="heading-frame lekce__background--1">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Sportík<br>3-7 let</span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pátek 15:30-16:30</span></div>
                </div>
            </div>
        
            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--2"></div>
                <div class="heading-frame lekce__background--2">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">sporťák<br>8-12 let</span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">úterý 16:30-17:30</span></div>
                </div>
            </div>
        </div>

        <h2 class="lekce__title AddAnimLeft">TANEČNÍ LEKCE PRO ZÁBAVU</h2>
        <p class="lekce__description AddAnimLeft">  (1 lekce týdně, cca 3 soutěže za rok – účast dobrovolná, vystoupení v divadle na závěrečné show)</p>

        <div class="grid__cards grid__cards--lekce">
            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--3"></div>
                <div class="heading-frame lekce__background--3">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>BABY (3-5 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background"> středa 15:00-16:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--4"></div>
                <div class="heading-frame lekce__background--4">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>MINI DĚTI A DĚTI (6-11 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">čtvrtek 15:00-16:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--5"></div>
                <div class="heading-frame lekce__background--5">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>MAMI A TATI GANG (dospělí)</span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">čtvrtek 18:00-19:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--6"></div>
                <div class="heading-frame lekce__background--6">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Break dance <br>DĚTI A JUNIOŘI (6-15 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background"> středa 17:30-18:30</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--7"></div>
                <div class="heading-frame lekce__background--7">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Pole dance a vzdušná akrobacie <br>mix věkových kategorií </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">čtvrtek 16:00-17:00 <br>  čtvrtek 18:00-19:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--8"></div>
                <div class="heading-frame lekce__background--8">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Jóga v síti <br>DĚTI A JUNIOŘI (8-15 let)</span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">čtvrtek 16:00-17:00</span></div>
                </div>
            </div>
        </div>

        <h2 class="lekce__title AddAnimLeft">TANEČNÍ LEKCE – ZAČÁTEČNÍCI A HOBBY</h2>
        <p class="lekce__description AddAnimLeft">(1-2 lekce týdně, cca 6 soutěží, vystoupení v divadle na závěrečné show)</p>

        <div class="grid__cards grid__cards--lekce">
            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--9"></div>
                <div class="heading-frame lekce__background--9">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance<br>MINI DĚTI (5-8 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pátek 16:30-18:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--10"></div>
                <div class="heading-frame lekce__background--10">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>DĚTI (8-11 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pondělí 15:30–16:30 <br>čtvrtek 17:00-18:00</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--11"></div>
                <div class="heading-frame lekce__background--11">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>JUNIOŘI (11-15 let)  </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pondělí 16:30-17:30 <br>středa 16:00-17:30</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--12"></div>
                <div class="heading-frame lekce__background--12">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>DOSPĚLÍ (15 let+) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pátek 19:00-20:00</span></div>
                </div>
            </div>
        </div>

        <h2 class="lekce__title AddAnimLeft">TANEČNÍ LEKCE – BASIC - VÝBĚROVÉ</h2>
        <p class="lekce__description AddAnimLeft"> (2 lekce týdně, vystoupení v divadle na závěrečné show,6+ soutěží, povinná účast na soutěž)</p>

        <div class="grid__cards grid__cards--lekce">
                        
            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--13"></div>
                <div class="heading-frame lekce__background--13">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>DĚTI (8-11 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pondělí 15:30-16:30 <br> čtvrtek 16:00-17:30 </span></div>
                </div>
            </div>

            <div class="grid__item AddAnimLeft">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--14"></div>
                <div class="heading-frame lekce__background--14">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>JUNIOŘI (11-15 let) </span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pondělí 16:30-17:30 <br> středa 16:00-17:30</span></div>
                </div>
            </div>

            <div class="grid__item AddAnimRight">
                <div class="grid__item--cover dialog__button" id="dialog__openBtn--15"></div>
                <div class="heading-frame lekce__background--15">
                    <div class="heading-frame__topRight"><span class="heading-frame__background">Street dance <br>DOSPĚLÝ ELITE (15 let+)</span></div>
                    <div class="heading-frame__bottomLeft"><span class="heading-frame__background">pondělí 17:30-19:00 <br>pátek 18:00-20:00 </span></div>
                </div>
            </div>

        </div>


    </div>

{% include 'partials/fotoBaner2.njk' %}
</section>