
<section class="section__1" id="lektorky">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">LEKTOŘI</h1>
            </div>
        </div>

        <p>Naši lektoři jsou vášniví a talentovaní tanečníci, kteří mají znalosti a zkušenosti z oblasti tance. Jsme hrdí na to, že máme tým lektorů, kteří jsou motivováni a neustále se vzdělávají, aby předali taneční trendy svým svěřencům.</p>



        <div class="grid__cards lektorky">

            <div class="lektorky__lektorka AddAnimRight">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Syki - Lucie Sýkorová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Majitelka TS Attitude DKnL, choreografka a lektorka
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimLeft">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Vendy Jenčíková</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Lektorka pole dance, street dance
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimRight">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Eliška Nováková</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Lektorka Mini dětí
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimLeft">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Míša Týčová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Lektorka street dance
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimRight">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Nicol Nečasová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Lektorka street dance
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimLeft">
                <div class="lektorky__item lektorky__item--2"></div>
                <div class="lektorky__name">Henry</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    Lektor break dance
                </div>
            </div>
        
        </div>
    </div>
</section>