
<section class="section__1" id="lektorky">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color2">
                <h1 class="AddAnimLeft">LEKTOŘI</h1>
            </div>
        </div>

        <div class="grid__cards lektorky">

            <div class="lektorky__lektorka AddAnimRight">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Lucie Sýkorová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    lektorka 1
                </div>
            </div>

            <div class="lektorky__lektorka AddAnimLeft">
                <div class="lektorky__item lektorky__item--1"></div>
                <div class="lektorky__name">Lucie Sýkorová</div>
                <div class="lektorky__plus">
                    <span class="lektorky__plus--bar-H"></span>
                    <span class="lektorky__plus--bar-V"></span>
                </div>
    
                <div class="lektorky__description">
                    lektorka 1
                </div>
            </div>

        
        </div>
    </div>
</section>