<section class="section__2" id="sponsors">
    <div class="section__inner">
        <div class="mujramecek">
            <div class="ramecek ramecek__color1">
                <h1 class="AddAnimLeft">SPONZOŘI</h1>
            </div>
        </div>
        <div class="sponsors AddAnimRight">
            <div class="sponsors__item"><a href="https://www.kr-kralovehradecky.cz/" class="sponsors__hyperlink"><img src="/images/sponsors/kralovehradecky-kraj-logo-velke.svg" class="sponsors__img" alt="Logo s odkazem na Královéhradecký kraj"></a></div>
            <div class="sponsors__item"><a href="https://www.msmt.cz/" class="sponsors__hyperlink"><img src="/images/sponsors/mamt-ministerstvo-skolstvi-mladeze-a-telovychovy-vector-logo.svg" alt="Logo s odkazem na Ministerstvo školství, mládeže a tělovýchovy"></a></div>
            <div class="sponsors__item"><a href="https://mudk.cz/" class="sponsors__hyperlink"><img src="/images/sponsors/dvur.svg" alt="Logo s odkazem na stránky města Dvůr Králové nad Labem"></a></div>
        </div>
    </div>
</section>