@use '../abstracts/variables' as v;

.footer {
    &__copyright {
        display: block;
        text-decoration: none;
        padding: 1rem;
        background-color: var(--backgroundColor1);
        text-align: center;
        font-size: 0.9rem;
        font-weight: 300;
        color: var(--textColor1);

        &:hover {
            //color: var(--buttonColor);
        }

    }

    &__link,&__link:visited  {
        color: var(--textColor1);
        font-weight: 600;
        text-decoration: none;
    }
}