@use '../abstracts/variables' as v;

.header {
    background-image: url(/images/banner1.PNG);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.header__motto {
    position: absolute;
    bottom: 30px;
    right: calc(100vw/5);
    animation-name: example;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    color: var(--primaryColor);
    max-width: 300px;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    z-index: 2;
    padding-left: 1rem;
}

.header__brand {
    position: absolute;
    top: calc(100vh/5);
    left: 50px;
    animation-name: example;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    color: var(--primaryColor);
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    z-index: 2;

    @media screen and (min-width:v.$minwidth-tablet) {
        left:calc(100vw / 4)
    }
}


@keyframes example {
    0%   {transform: scale(0);}
    91.3% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

// .header__motto span {
//   position: relative;
//   opacity: 0;
//   animation: textAnimation 3s ease-in-out forwards;
// }

// .header__brand span {
//     position: relative;
//     opacity: 0;
//     animation: textAnimation 3s ease-in-out forwards;
//   }

// @keyframes textAnimation {
//   to {
//     top:0;
//     left:0;
//     opacity:1;
//   }
// }
