.lektorky {
    display: grid;

    &__lektorka {
        position: relative;
        width: 300px;
        height: 250px;
    }
    &__item {
        background-image: url(/images/banner.PNG);
        background-position: center top;
        background-size: cover;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &--active {
            filter: blur(4px);
        }
    }

    &__plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 20px;
        width: 20px;
        background-color: red;
        border-radius: 50%;

        &--bar-H, .lektorky__plus--bar-V {
            //display: block;
            position: absolute;
            width: 15px;
            height: 1px;
            background-color: blue;
            
        }

        &--bar-H {
            margin-top: 9px;
            margin-left: 2.5px;
        }

        &--bar-V {
            transform: rotate(90deg);
            margin-top: 9px;
            margin-left: 2.5px;
        }
    }

    &__description {
        position: absolute;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.4);
        color: white;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        z-index: 5;
        border: 3px solid #f1f1f1;
        font-weight: 600;
        filter: blur(0px);
    }
}