
.lekce {
    &__background {
        &--1 {
            background: #333 url(/images/lekce/baby_sportik.PNG) center;
        }

        &--2 {
            background: #333 url(/images/lekce/babyDance.jpg) center;
        }

        &--3 {
            background: #333 url(/images/lekce/breakDance.jpg) center;
        }

        &--4 {
            background: #333 url(/images/lekce/contemporary.jpg) center;
        }

        &--5 {
            background: #333 url(/images/lekce/deti.jpg) center;
        }

        &--6 {
            background: #333 url(/images/lekce/detiA.jpg) center;
        }

        &--7 {
            background: #333 url(/images/lekce/HlavniVekovaKategorieA.jpg) center;
        }

        &--8 {
            background: #333 url(/images/lekce/Jaromer.jpg) center;
        }

        &--9 {
            background: #333 url(/images/lekce/jogaVsiti.jpg) center;
        }

        &--10 {
            background: #333 url(/images/lekce/junioriB.jpg) center;
        }

        &--11 {
            background: #333 url(/images/lekce/juniorkyA.jpg) center;
        }

        &--12 {
            background: #333 url(/images/lekce/mini-deti.jpg) center;
        }
    }
}
