@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  //background-color: var(--backgroundColor);
  //color: var(--textColor);
}

ul {
    margin: 0;
}

p + p {
  padding-top: v.$spacer-middle;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem; 
  font-weight: 400; 
  line-height: 1.5;
  text-align: left;
}

p:first-of-type {
  padding-top: v.$spacer-middle;
}

h1,h2,h3 {
  margin: 0;
}