@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.section__inner {
    @include m.zarovnani;
}
  
.section__1 {
    background-color: var(--backgroundColor1);
    color: var(--textColor1);
}

.section__2 {
    background-color: var(--backgroundColor2);
    color: var(--textColor2);
}

.grid {

    &__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        justify-items: stretch;
        align-items: stretch;
        gap: v.$spacer-middle;
        width: 100%;
        @include m.zarovnani;
        padding: v.$spacer-middle 0 0 0;

        @media screen and (min-width:v.$minwidth-computer) {
            max-width: v.$maxwidth;
        }

        &--lekce {
            
            @media screen and (min-width:v.$minwidth-tablet-lekce) {
                grid-template-columns: repeat(2,minmax(300px,10fr));
            }
            
        }

    }
    
    &__item {
        position: relative;
        transition: all 0.5s ease-out;
        @include m.lekceZarovnani(2rem);
        &:hover {
            transform: rotate(5deg);
            transition: transform 0.5s ease-out;
        }

        &--cover {
            @include m.lekceZarovnani(2rem);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }

    }


}