@use 'variables' as v;

@mixin zarovnani {
    padding: v.$spacer-big v.$spacer-middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    @media screen and (min-width:v.$minwidth-computer) {
        max-width: v.$maxwidth;
    }
}

@mixin lekceZarovnani($posun:0px) {
    width: calc(100vw - 2*v.$spacer-normal - $posun);
    height: 300px;

    @media screen and (min-width:500px) {
        width: calc(500px - 2*v.$spacer-middle - $posun);
    }

    @media screen and (min-width:v.$minwidth-tablet-lekce) {
        width: calc(50vw - 2*v.$spacer-big - v.$spacer-middle - $posun);
    }
    // @media screen and (min-width:v.$minwidth-computer) {
    //     width: calc(100vw/3 - 2*v.$spacer-big - 2*v.$spacer-middle);
    // }
}

@mixin myHover {
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: transform 0.3s,filter 0.3s;
}